// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Mulish:wght@300;400;500;600;700;800&family=Playfair+Display:wght@500;600;700;800&display=swap");

body {
  font-weight: 400;
  width: 1600px;
  margin: auto;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  font-family: "Inter", sans-serif;
}
.header__logo {
  margin: 45px 0 0 191px;
}

.header__nav {
  height: 60px;
  margin-left: 515px;
  margin-top: 35px;
  font-weight: 400;
  display: flex;
}
.header__nav__button {
  margin: auto 35px auto 0;
  color: #b8becd;
}

.header__entrance {
  margin-top: 35px;
  padding-top: 8px;
}

.header__entrance__button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  width: 132px;
  height: 44px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
}

.header__entrance :first-child {
  margin-right: 13px;
}

.entrance__button-white {
  background-color: #fff;
  color: #fb8f1d;
}

.entrance__button-orange {
  background-color: #fb8f1d;
  color: #fff;
}

.a-section {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr 1fr;
  margin-left: 189px;
  margin-top: 72px;
  // grid-template-areas:
  //   "title pic pic"
  //   "form pic pic"
  //   "form pic pic";
}

.a-section__title {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: -19px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
}

.a-section__form {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-top: -59px;
}

.a-section__pic {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: -17px;
}
.a-form__title {
  font-family: "inter";
  font-weight: 600;
  font-size: 22px;
}
.a-form_style {
  margin-top: 11px;
}
.a-form_style select {
  width: 220px;
  height: 52px;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  font-family: "Inter" "sans-serif";
  font-weight: 400;
  padding-left: 31px;
  appearance: none;
  background: url("../assets/img/Vector.png") no-repeat right;
  background-position-x: calc(100% - 29px);
}

.a-form__select {
  margin-right: 26px;
  margin-top: 35px;
}

.a-form__button {
  width: 180px;
  height: 52px;
  margin-top: 50px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 44px;
}

.b-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  margin-top: 270px;
  margin-left: 189px;
}

.b-section__pic {
  grid-column-start: 1;
  grid-row-start: 1;
  margin-left: -50px;
  margin-top: 16px;
}
.b-section__content {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 83px;
  margin-left: 6px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.text__content {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}
.b-content__text {
  margin-top: -11px;
}
.b-content__titlte {
  margin-top: 20px;
}

.button-orange {
  background-color: #fb8f1d;
  color: #fff;
  border-radius: 8px;
  border: #fb8f1d;
}

.b-button {
  width: 164px;
  height: 48px;
  margin-top: 39px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
}

.c-section {
  margin-left: 239px;
  margin-top: 261px;
}

.c-gallery {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 286px 286px 286px 286px;
}

.c-gallery__item {
  position: relative;
  margin-top: 27px;
  img {
    background: linear-gradient(
      360deg,
      #032204 -26.8%,
      #032204 -26.8%,
      rgba(3, 31, 4, 0.920415) -26.8%,
      rgba(3, 29, 4, 0.855404) -26.8%,
      rgba(0, 0, 0, 0) 61.11%
    );
    border-radius: 8px;
  }
}

.c-about-card {
  background-color: #fff;
  width: 120px;
  height: 56px;
  border-radius: 0px 6px 0px 0px;
  position: absolute;
  top: 276px;
}
.c-section__title {
  display: inline-block;
}

.c-section__onen-modal {
  display: inline;
}
.c-about-card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  margin-top: 12px;
}
.c-about-card__text {
  color: #b8becd;
  font-family: Inter;
}
.c-section__onen-modal {
  margin-left: 676px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #fb8f1d;
  img {
    margin-left: 10px;
  }
}
.d-section {
  display: grid;
  grid-template-columns: 45% 55%;
  margin-left: 240px;
  margin-top: 200px;
}
.button__download {
  width: 164px;
  height: 48px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.d-section__content {
  margin-top: 159px;
}
.d-content__text {
  margin-top: -10px;
}
.button__download {
  margin-top: 39px;
  margin-left: -2px;
}
.d-section__pic {
  margin-left: -84px;
  margin-top: 37px;
}

.e-section {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 100px 500px;
  margin-left: 240px;
  margin-top: 218px;
}
.e-hide {
  display: none;
}
.e-active {
  display: block;
}
.e-wrapper {
  margin-top: 1px;
  grid-column-start: 1;
  grid-row-start: 2;
  width: 612px;
  height: 322px;
  margin-top: 127px;
}

.e-content__rating-star {
  margin-right: 15px;
}
.e-content__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
}
.e-section__photo-slider {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-left: 20px;
  margin-top: 40px;
  position: relative;
  img {
    border-radius: 14px;
  }
}
.e-content__person {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  margin-top: 40px;
}
.e-content__person__position {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  margin-top: -12px;
}
.e-photo-slider__arrows svg {
  stroke: #000000;
}
.e-photo-slider__arrows {
  position: absolute;
  width: 150px;
  height: 60px;
  background: #fff;
  top: 431px;
  left: 252px;
  border-radius: 16px 0px 0px 0px;
}
// .left-circle {
//   position: relative;
// }

// .right-circle {
//   position: relative;
// }

.e-photo-slider__arrows-left {
  display: inline-block;
  margin-left: 24px;
}
.e-photo-slider__arrows-right {
  display: inline-block;
  text-align: right;
  margin-left: 15px;
}
.e-photo-slider__arrows-left,
.e-photo-slider__arrows-right {
  margin-top: 20px;
}
.hidden-arrow svg {
  stroke: #d7d7d7;
}
.f-section__content {
  display: grid;
  grid-template-columns: 261px 261px 261px 261px;
  grid-template-rows: 1fr;
  column-gap: 25px;
  margin-top: 28px;
}
.f-section {
  margin: 286px 0 270px 238px;
}
.f-section__title {
  display: inline-block;
}
.f-section__open-modal {
  display: inline-block;
}
.f-section__card__img {
  width: 261px;
  height: 230px;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
.f-section__card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  margin: 12px 0 0 0;
}
.f-section__card__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  margin: 12px 0 0 0;
}
.f-section__card__open {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #fb8f1d;
  margin: 25px 0 0 0;
}
.f-section__open-modal {
  margin-left: 761px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #fb8f1d;
  img {
    margin-left: 10px;
  }
}

footer {
  max-width: 1600px;
  height: 482px;
  background-color: #f9f9fb;
}
.wrapper {
  margin: 0 0 0 190px;
  display: grid;
  grid-template-columns: 391px 300px 300px 300px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu__title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 60px;
}
.menu__href {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}
.footer__text {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-top: 29px;
  width: 300px;
}
.footer__copy {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  margin-top: 55px;
}
.footer__logo {
  margin: 80px 0 0 0;
}
.footer__items {
  margin: 70px 0 0 78px;
}
.footer__destinations {
  margin-left: 107px;
}
.footer__intesest {
  margin-left: 66px;
}
.footer__link {
  border-top: 1px solid #032204;
  width: 1219px;
  margin: 76px auto 0;
}
.container {
  width: 250px;
  margin: 30px 0 0 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
// slider
.e-wrapper {
  overflow: hidden;
}
.e-slider {
  transition: 0.5s all;
}
.photo {
  width: 384px;
  height: 490px;
  object-fit: cover;
}
.photo-slider-wrapper {
  display: flex;
  flex-direction: row;
  transition: 0.5s all;
}
.e-section__photo-slider {
  width: 384px;
  height: 490px;
  overflow: hidden;
}
