doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body
        main
            header
                .header__logo
                    img(src="assets/img/logo.png", alt=" ogo")
                nav.header__nav
                    a(href="#"  class='header__nav__button') Home
                    a(href="#" class='header__nav__button') Destinations
                    a(href="#" class='header__nav__button') Adout
                    a(href="#" class='header__nav__button') Partner
                .header__entrance
                        button(href="#" class='header__entrance__button entrance__button-white') Login
                        button(href="#" class='header__entrance__button entrance__button-orange') Register
                        
            
            section
                .a-section
                    .a-section__title
                        h1 Explore and <br> Travel
                    .a-section__form
                        .a-form__title Holiday finder
                            .a-form__title-underline ___
                        form(class='a-form__form-main a-form_style')
                            select(name="location" class="a-form__select")
                                option(value="Moscow") Moscow
                                option(value="spb") spb
                            select(name="location" class="a-form__select")
                                option(value="Moscow") Moscow
                                option(value="spb") spb
                            select(name="location" class="a-form__select")
                                option(value="Moscow") Moscow
                                option(value="spb") spb
                            select(name="location" class="a-form__select")
                                option(value="Moscow") Moscow
                                option(value="spb") spb
                            button(class="a-form__button button-orange") Explore

                    .a-section__pic
                        img(src="assets/img/thousand-01 1.png")
            section
                .b-section
                    .b-section__pic
                        img(src="assets/img/Thousand-02.png", alt="b section logo")
                    .b-section__content
                        .b-content__titlte
                            h2  A new way to explore the <br> world 
                        .b-content__text.text__content For decades travellers have reached for Lonely Planet <br>books when looking to plan and execute their perfect <br>
                            |trip, but now, they can also let Lonely Planet Experiences <br> lead the way
                        .b-content__button
                            button(class='b-button button-orange') Learn more
            section
                .c-section
                    .c-section__title
                        h2 Featured destinations
                    .c-section__onen-modal View all
                        img(src="assets/img/Vector 1.png", alt="")
                    .c-section__content
                        .c-gallery
                            .c-gallery__item
                                img(src="assets/img/image1.png", alt="")
                                .c-about-card
                                    .c-about-card__title Raja Ampat 
                                    .c-about-card__text Indonesia
                            .c-gallery__item
                                img(src="assets/img/image2.png", alt="")
                                .c-about-card
                                    .c-about-card__title Fanjingshan  
                                    .c-about-card__text China
                            .c-gallery__item
                                img(src="assets/img/image3.png", alt="")
                                .c-about-card
                                    .c-about-card__title Vevey
                                    .c-about-card__text Switzerland
                            .c-gallery__item
                                img(src="assets/img/image4.png", alt="")
                                .c-about-card
                                    .c-about-card__title Skadar 
                                    .c-about-card__text Montenegro

            section
                .d-section
                    .d-section__content 
                        .d-content 
                            .d-content__title
                             h2 Guides by Thousand <br> Sunny
                            .d-content__text.text__content Packed with tips and advice from our on-the-ground <br>experts, our city guides app (iOS and Android) is the <br>ultimate resource before and during a trip.
                            .d-content__button  
                                button(class="button__download button-orange") Download
                    .d-section__pic
                        img(src="assets/img/Thousand-03.png", alt="")
            section
            section
            footer 