doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body
        main
            header
                .header__logo
                    img(src="assets/img/logo.png", alt=" ogo")
                nav.header__nav
                    a(href="#"  class='header__nav__button') Home
                    a(href="#" class='header__nav__button') Destinations
                    a(href="#" class='header__nav__button') Adout
                    a(href="#" class='header__nav__button') Partner
                .header__entrance
                        button(href="#" class='header__entrance__button entrance__button-white') Login
                        button(href="#" class='header__entrance__button entrance__button-orange') Register
                        
            
            section
                .a-section
            section
            section
            section
            section
            section
            footer 